@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(172, 172, 172);
}

.titulos-menu{
    color: white;
    text-align: left;
}

.titulo{
    text-align: center;
}

.missao{
    background-color: rgb(214, 214, 214); 
    margin-top: -8px;
    margin: 20px 600px 3px 22px;
    border-radius: 60px;
    width: 650px;
}

.p-missao{
    margin-left: 20px;
    font-size: 17pt;
}

.margem{
    padding-top: 30px;
    padding-bottom: 30px;
}

h1#h1-titulo{
    font-family: 'Hachi Maru Pop', cursive; 
    font-size: 40pt;
}

h2, h3{
    text-align: center;
}

.video{
    background-color: rgb(214, 214, 214); 
    margin: -361px 180px 3px 690px;
    padding-bottom: 174px;
    border-radius: 60px;
    width: 650px;
}

footer#rodape{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 47px;
    padding-top: 3px;
    padding-bottom: 1px;
}